.loginForm {
    display: flex;
    flex-direction: column;
    width: 400px;
    background: white  ;
    padding: 10px;
}

.input {
    margin-top: 10px;
    height: 25px;
}

.loginBtn {
    margin-top: 15px;
    margin-left: auto;
}