.title {
  font: var(--font-l);
  color: var(--primary-color);
}

.text {
  font: var(--font-m);
  color: var(--secondary-color);
}

// Тема ошибки
.error {
  .title {
    color: var(--red-light);
  }

  .text {
    color: var(--red-light);
  }
}

// Выравнивание
.left {
  .title,
  .text {
    text-align: left;
  }
}

.right {
  .title,
  .text {
    text-align: right;
  }
}

.center {
  .title,
  .text {
    text-align: center;
  }
}

// Размеры - теперь это отдельные классы, которые можно использовать
.size_s {
  // Стили для контейнера размера S (если нужны)
  
  .title {
    font: var(--font-s);
  }

  .text {
    font: var(--font-s);
  }
}

.size_m {
  // Стили для контейнера размера M (если нужны)
  
  .title {
    font: var(--font-l);
  }

  .text {
    font: var(--font-m);
  }
}

.size_l {
  // Стили для контейнера размера L (если нужны)
  
  .title {
    font: var(--font-xl);
  }

  .text {
    font: var(--font-l);
  }
}