/* stylelint-disable declaration-block-no-redundant-longhand-properties */
.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  z-index: -1;
  color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  padding: 20px;
  border-radius: 10px;
  background: var(--bg-color);
  z-index: var(--modal-z-index);
  transition: 0.3s all;
  transform: scale(0.5);
  max-width: 50%;
}

.opened {
  pointer-events: auto;
  opacity: 1;
  z-index: var(--modal-z-index);

  .content {
    transform: scale(1);
  }
}

.isClosing {
    .content {
        transform: scale(0.2);
    }
}
