.Sidebar {
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background: var(--inverted-bg-color);
  position: relative;
  transition: all 0.3s;
}

.switchers {
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 20px;
}

.collapsedBtn {
  position: absolute;
  right: -32px;
  bottom: 32px;
  color:var(--primary-color)
}

.lang {
  color: var(--primary-color);
}

.items {
  margin-top: 15px;
  margin-left: 15px;
}

.collapsed {
  width: var(--sidebar-width-collapsed);

  .switchers {
    flex-direction: column;
    align-items: center;
  }

  .lang {
    margin-left: 0;
  }
}
