.list {
  .card {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.plate {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  .card {
    max-width: 250px;
    flex: 0 0 auto; // предотвращает сжатие карточек
  }
}
