.articleListItem {
  margin-top: 15px;
  padding: 10px;
  background: var(--card-bg);
  border-radius: 15px;
}

.pic {
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.list {
  .views {
    margin-left: auto;
  }

  .header {
    display: flex;
    align-items: center;
  }

  .username {
    margin-left: 8px;
  }

  .date {
    margin-left: auto;
  }

  .title {
    margin-top: 8px;
  }

  .pic {
    margin: 16px 0;
  }

  .footer {
    display: flex;
    align-items: center;
    margin-top: 16px;
  }

  .textBlock {
    max-height: 200px;
    overflow-y: hidden;
  }
}

.plate {
  .card {
    width: 230px;
    transition: 0.2s;
    cursor: pointer;
     position: relative;
  }

  .date {
    position: absolute;
    right: 0;
    top: 0;
    display: none;
  }

  &:hover {
    opacity: 0.8;
    transform: scale(1.01);

    .date {
      display: block;
    }
  }

  .imgWrapper {
    width: 200px;
    height: 200px;
   
  }

  .infoWrapper {
    display: flex;
    align-items: center;
    margin-top: 8px;
  }

  .types p {
    width: 115px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .views {
    margin-left: auto;
    margin-right: 8px;
  }

  .title {
    margin-top: 8px;
  }

  .title p {
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
