.dropdown {
  position: relative;
}



.items {
  background: var(--card-bg);
  position: absolute;
  z-index: 500;
  border-radius: 10px;
  border: 1px solid var(--primary-color);
  cursor: pointer;
}

.item {
  padding: 10px 25px;
  width: 100%;
  background: none;
  outline: none;
}


