.popup {
    position: relative;
}

.active {
    background: var(--inverted-primary-color);
}

.disabled {
    opacity: 0.8;
}

.trigger {
  padding: 0;
  margin: 0;
  background: none;
  outline: none;
  bottom: none;
  cursor: pointer;
}


.optionsTopLeft {
  bottom: 100%;
  right: 0;
}
.optionsTopRight {
  bottom: 100%;
  left: 0;
}
.optionsBottomLeft {
  top: 100%;
  right: 0;
}
.optionsBottomRight {
  top: 100%;
  left: 0;
}
