.inputWrapper {
    background: #ddd;
}

.input {
   margin-right: 5px; 
   background: transparent;
   border: none;
   outline: none;
   width: 100%;

   &:focus {
    outline: none;
   }
}

.readonly {
    opacity: 0.6;
}
