.listbox {
  position: relative;
}
.triggerBtn {
  background: none;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}

.options {
  min-width: 100%;
  padding-top: 5px;
  background: var(--listbox-bg);
  position: absolute;
  z-index: 500;
  border-radius: 10px;
  box-shadow: 4px 4 px 8px var(--listbox-bg);
}

.item {
  padding: 10px 20px;
}

.active {
  background-color: var(--inverted-primary-color);
}

.disabled {
  opacity: 0.7;
}

.optionsTop {
  bottom: 100%;
}
