.Wrapper {
  display: flex;
  background: #ddd;
  padding-bottom: 2px;
}

.label {
  padding: 5px 0;
  color: black;
  margin-left: 5px;
}

.select {
  background: none;
  outline: none;
  padding: 2px 10px 2px 2px;
  border: 1px solid var(--primary-color);
}

.option {
  background: var(--inverted-bg-color);
}

.readonly {
  opacity: 0.6;
}
