.app_light_theme {
  --bg-color: #e8e8ea;
  --inverted-bg-color: #0a0a41;
  --primary-color: #b61565;
  --secondary-color: #3a87c7;
  --inverted-primary-color: #5fc45f;
  --inverted-secondary-color: #ec936a;
  --skeleton-color: #0a0a41;
  --skeleton-shadow: #e8e8ea;
  --code-bg: #fff;
  --card-bg: #fff;
  --listbox-bg: #fff;
}
