.app_orange_theme {
  --bg-color: #F5F4FB;
  --inverted-bg-color: #a098d1;
  --primary-color: #F5F4FB;
  --secondary-color: #7D9DC5;
  --inverted-primary-color: #7D9DC5;
  --inverted-secondary-color: #7D9DC5;
}
