.navbar {
  width: 100%;
  height: var(--navbar-height);
  background: var(--inverted-bg-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.mainLink {
  margin-right: 15px;
}

.logo {
  width: var(--sidebar-width);
  margin-left: 15px;
}

.createBtn {
  margin-left: 15px;
}
