.dropdown {
  position: relative;
}

.btn {
  padding: 0;
  margin: 0;
  background: none;
  outline: none;
  bottom: none;
  cursor: pointer;
}

.items {
  background: var(--card-bg);
  position: absolute;
  z-index: 500;
  border-radius: 10px;
  border: 1px solid var(--primary-color);
  cursor: pointer;
}

.item {
  padding: 10px 25px;
  width: 100%;
  background: none;
  outline: none;
}

.active {
    background: var(--inverted-primary-color);
}

.optionsTopLeft {
  bottom: 100%;
  right: 0;
}
.optionsTopRight {
  bottom: 100%;
  left: 0;
}
.optionsBottomLeft {
  top: 100%;
  right: 0;
}
.optionsBottomRight {
  top: 100%;
  left: 0;
}

